* {
	margin: 0;
	padding: 0;
}
.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.container, svg {
	// height: 100vh;
	// width: 100vw;
	height: 1024px;
	width: 1024px;
}
